/* styles.css */
body{
    margin-left: 10%;
    background-color: hsl(0, 56%, 38%);
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    background-color: white;
    color: #ff0000;
    width: 4%;
    min-width: 30px;
    height: auto;
    
}

.sub-body{
    background-color: hsl(0, 48%, 60%);
    margin-right: 10%;
    padding: 5%;
    padding-top: 2%;
}

.icon{
    max-width: 75%;
    height: auto;
}
